<ng2-slim-loading-bar></ng2-slim-loading-bar>
<simple-notifications [options]="options"></simple-notifications>
<app-ui-top-navigation></app-ui-top-navigation>
<router-outlet></router-outlet>
<footer id="eut-footer" data-sticky-footer="no" class="eut-border eut-bookmark">

    <div class="eut-footer-wrapper">
        <!-- Footer -->
        <div class="eut-footer-bar eut-padding-top-1x eut-padding-bottom-1x" data-align-center="yes">
            <div class="eut-link-text eut-list-divider eut-align-center">
                <ul>
                    <li>
                        <span>Terms Of Service</span>
                    </li>
                    <li>
                        <span>Privacy Policy</span>
                    </li>
                </ul>
            </div>
            <div class="eut-container">
                <div class="eut-bar-content eut-left-side">
                    <div class="eut-copyright eut-link-text">
                        <p>With
                            <i class="eut-text-primary-1 fa fa-heart"></i> by
                            <a target="_blank">Khushi</a> - Bringing people closer</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>